<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">
<module configVersion="1.0">
	
	<!-- Synchronization Module Properties -->
	<id>sync</id>
	<name>Synchronization Module</name>
	<version>0.1</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Maros Cunderlik</author>
	<description>Synchronize data between a parent and multiple child servers</description>
	<activator>@MODULE_PACKAGE@.SyncModuleActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
	<!-- /Synchronization Module Properties -->
	
</module>
